{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>This is the Lead Detail</h1>
        <div class="lead">
            <p>{{ lead.first_name }} {{ lead.last_name }} - {{ lead.agent }}</p>
        </div>
        <hr>

        <div>
            <a href="{% url 'leads:lead_update' lead.id %}">Update</a>
        </div>
        <hr>
            <a href="{% url 'leads:lead_delete' lead.id %}">Delete</a>
        <hr>
        <div>
            <a href="{% url 'leads:lead_list' %}">Back To List</a>
        </div>
 
    </div>
{% endblock %}